.blueBlob {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 10%;
  z-index: -1;

  @media (max-width: 700px) {
    width: 30%;
  }
}

.yellowBlob {
  position: fixed;
  top: 0;
  right: 0;
  width: 10%;

  z-index: -1;

  @media (max-width: 700px) {
    width: 30%;
  }
}
